#blog {
  background: #101010;
  display: grid;
  color: whitesmoke;
  width: 100%;
  height: auto;
  grid-template-rows: 1fr, 2fr;
}

.blog-header {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-family: poppins;
  color: whitesmoke;
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 60px;
  font-weight: 900;
}

.header-caption {
  opacity: 0.8;
  display: block;
  font-size: 20px;
  font-family: raleway;
  padding: 8px;
  padding-top: 15px;
  color: whitesmoke;
  font-weight: 400;
}

figure {
  display: table;
  margin: 0px;
}
figcaption {
  display: table-caption;
  caption-side: top;
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.blog-date {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #c70039;
  color: whitesmoke;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  padding: 3px;
  transition: all 0.4s ease;
  width: 25%;
  height: auto;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: poppins;
  row-gap: 7rem;
  align-content: space-between;
  justify-content: space-between;
}

.content button {
  font-size: 16px;
  opacity: 0.8;
  font-family: poppins;
  font-weight: 200;
  padding: 10px 20px;
  background: rgb(245, 215, 220);
  color: #c70039;
  transition: all 0.4s ease;
  outline: none;
  margin: 20px;
  border: 1.5px solid #c70039;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 30%;
}

.content button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 200%;
  transform: rotate(-15deg) translateY(-20px);
  top: 0;
  left: 0;
  z-index: 3;
  background: #c70039;
  transition: all 0.7s ease;
}

.content button:hover {
  opacity: 1;
  color: rgb(131, 226, 226);
}

button:hover .index {
  position: relative;
  z-index: 4;
}

.content button:hover::before {
  opacity: 1;
  width: 120%;
}

.button {
  text-align: center;
  border: transparent;
}
