@import "./blog.css";
@import "./subscribe.css";
@import "./blogpost.css";

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  background: #101010;
}

#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 1rem;
}

.about-header {
  height: auto;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-family: poppins;
  color: whitesmoke;
  padding: 1rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  font-weight: 900;
}

.header-caption {
  opacity: 0.8;
  display: block;
  font-size: medium;
  font-family: poppins;
  padding: 0.8rem;
  padding-top: 2rem;
  color: whitesmoke;
  font-weight: 400;
}

.color {
  color: #9ece9e;
  transition: all 0.4s ease;
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: row;
}

.about-first-paragraph {
  color: whitesmoke;
  justify-content: center;
  font-size: medium;
  font-family: poppins;
  width: 50%;
  padding: 2rem;
  font-weight: bold;
}

.about-first-paragraph .color {
  font-size: x-large;
}

.about-first-line {
  font-size: x-large;
  opacity: 1;
  margin-bottom: 1rem;
  display: block;
}

.about-second-line {
  opacity: 0.8;
  font-size: medium;
  font-weight: 200;
}

.about-img img {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 20%;
}

.about-img {
  width: 70%;
  height: auto;
  padding: 3rem;
  padding-top: 1rem;
  border-radius: 20%;
}

.footer {
  padding: 0.8rem 1.5rem 0.8rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7e7c7cec;
  color: rgba(224, 233, 224, 0.767);
}

/* Small */
@media only screen and (max-width: 80px) {
  html {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-img {
    display: none;
  }

  .blog-date {
    display: none;
  }

  .blog-content {
    font-size: x-small;
  }

  .about-first-paragraph {
    font-size: small;
    width: 90%;
    padding: 1rem;
  }

  .about-first-paragraph .about-second-line {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .blog-header {
    padding: 5%;
    font-weight: 500;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 80%;
  }
}
