<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Personal Portfolio Website Template</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="../index.html" class="navbar-item"> Home </a>
          <a href="./blog.html" class="navbar-item"> Blogs </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="./subscribe.html" class="button is-primary">
                <strong>Subscribe</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-primary is-small is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">How I made a picture search engine</h1>
          <h2>
            A
            <q cite="https://www.imdb.com/title/tt0062622/quotes/qt0396921"
              >mini blog
            </q>
          </h2>
          <h3>lets' get started!</h3>
        </div>
      </div>
    </section>

    <div class="container">
      <section class="articles columns">
        <div class="column is-2"></div>
        <div class="column is-8">
          <div class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-center">
                  <figure>
                    <img
                      src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png"
                      class="author-image"
                      alt="Placeholder image"
                    />
                    <figcaption>Avatar</figcaption>
                  </figure>
                </div>
                <div class="media-content has-text-centered">
                  <p class="title article-title">Sapien eget mi proin sed 🔱</p>
                  <div class="bio">
                    <h5>Author info</h5>
                    <p>Name: Qiao</p>
                    <p>title: Software Engineer</p>
                    <p>Current company: none</p>
                    <p>
                      Short Bio: I'm a <i>Freelancer</i>. I love
                      <i>Programming</i>
                    </p>
                    <p class="subtitle is-6 article-subtitle">
                      <a href="#">@Qiao</a> on March 14, 2023
                    </p>
                    <br />
                    <div class="bio-social">
                      <a href="#"
                        ><img
                          src="../images/facebook logo.png"
                          target="_blank"
                          class="social-media"
                          alt="facebook-logo"
                      /></a>
                      <a href="https://www.linkedin.com/feed/" target="_blank"
                        ><img
                          src="../images/linkedin logo.png"
                          class="social-media"
                          alt="linkedin-logo"
                      /></a>
                      <a href="#"
                        ><img
                          src="../images/twitter logo.png"
                          target="_blank"
                          class="social-media"
                          alt="twitter-logo"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content article-body">
                <p>
                  Lorem ipsum dolor sit
                  <em>amet, consectetur adipiscing elit,</em> sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Accumsan
                  lacus vel facilisis volutpat est velit egestas. Sapien eget mi
                  proin sed. Sit amet mattis vulputate enim.
                </p>
                <blockquote cite="http://www.worldwildlife.org/who/index.html">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Error, natus. <b>Minus</b>, beatae perspiciatis quam quisquam
                  quidem dignissimos tempora <b>impedit</b> hic soluta dolores
                  iste, reprehenderit dicta eveniet quos, totam ea unde?
                </blockquote>
                <p>
                  Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo
                  vel orci porta non. Proin fermentum leo vel orci porta non
                  pulvinar. Imperdiet proin fermentum leo vel. Tortor posuere ac
                  ut consequat semper viverra. Vestibulum lectus mauris ultrices
                  eros.
                </p>
                <h3 class="has-text-centered">
                  Lectus vestibulum mattis ullamcorper velit sed ullamcorper
                  morbi. Cras tincidunt lobortis feugiat vivamus.
                </h3>
                <p>
                  In eu mi bibendum neque egestas congue quisque egestas diam.
                  Enim nec dui nunc mattis enim ut tellus. Ut morbi tincidunt
                  augue interdum velit euismod in. At in tellus integer feugiat
                  scelerisque varius morbi enim nunc. Vitae suscipit tellus
                  mauris a diam. Arcu non sodales neque sodales ut etiam sit
                  amet.
                </p>
                <a href="https://qiaoooo.github.io/background_color_generator/"
                  >Link to the project</a
                >
                <br />
                <a href="./blog.html">Back to Blog post</a>
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer class="footer is-dark">
      <div class="content has-text-centered">
        <span>&copy; Qiao 2023</span>
      </div>
    </footer>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(
        document.querySelectorAll(".navbar-burger"),
        0
      );

      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    });
  </script>
</html>
