<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>Personal Portfolio Website Template</title>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="../css/index.css" />

    </head>

    <body>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a
                role="button"
                class="navbar-burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarBasicExample"
              >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
      
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a href="../index.html" class="navbar-item"> Home </a>
                <a href="./blog.html" class="navbar-item"> Blogs </a>
              </div>
      
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="./subscribe.html" class="button is-primary">
                      <strong>Subscribe</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>






        <div id="blog">
            <div class="blog-header"> Blogs</span>
                <span class="header-caption"> My Latest blog posts.</span>
            </div>

            <div class="blog-content">

              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="../images/post-two.jpg" alt="Placeholder image">
                    <figcaption>Screenshot of the App</figcaption>
                  </figure>
                  <div class="blog-date">14 Mar,23</div>

                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="../images/post-two.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">Qiao</p>
                      <p class="subtitle is-6">@Qiao</p>
                    </div>
                  </div>
              
                  <div class="content">
                    <div class="button"><a href="./blogpost.html"><button><span class="index"> View Blog</span></button></a>
                    </div>
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2023-03-14">11:09 PM - 14 March 2023</time>

                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="../images/post-two.jpg" alt="Placeholder image">
                    <figcaption>Screenshot of the App</figcaption>
                  </figure>
                  <div class="blog-date">14 Mar,23</div>

                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="../images/post-two.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">Qiao</p>
                      <p class="subtitle is-6">@Qiao</p>
                    </div>
                  </div>
              
                  <div class="content">
                    <div class="button"><a href="./blogpost.html"><button><span class="index"> View Blog</span></button></a>
                    </div>
                    <br>
                    <br>
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2023-03-14">11:09 PM - 14 March 2023</time>

                  </div>
                </div>
              </div>

              <br>
            </div>

        </div>

        <footer class="footer is-dark">
            <div class="content has-text-centered">
            <span>&copy; Qiao 2023</span>
            </div>
        </footer>


        <script>
            document.addEventListener("DOMContentLoaded", () => {
              // Get all "navbar-burger" elements
              const $navbarBurgers = Array.prototype.slice.call(
                document.querySelectorAll(".navbar-burger"),
                0
              );
      
              // Add a click event on each of them
              $navbarBurgers.forEach((el) => {
                el.addEventListener("click", () => {
                  // Get the target from the "data-target" attribute
                  const target = el.dataset.target;
                  const $target = document.getElementById(target);
      
                  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                  el.classList.toggle("is-active");
                  $target.classList.toggle("is-active");
                });
              });
            });
          </script>
    </body>

</html>
